# byte-compiled
__pycache__/

# virtual environments
.venv

# open-meteo sqlite cache
.cache.sqlite

# macOS
.DS_Store
.idea/copilot/chatSessions/00000000000.xd
.idea/copilot/chatSessions/xd.lck
.idea/heatpump-dashboard.iml
.idea/workspace.xml
